@import './variables';

//settings for all the images on the page, the parameter specifies wich image gets used
@mixin imageSettings($url) {
    background-image: url($url);
    background-size: contain;
    height: 100px;
    width: 100px;
    padding: 100px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px $backgroundColor;
}

//settings for the text that appears when you hover over the album cover
@mixin hoverTextSettings() {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    word-wrap: normal;
}

//when the album cover is hovered over, set its visibility to visible
@mixin hoverTextSettingsHovered() {
    visibility: visible;
}

//use the arial font for all text
@mixin textSettings() {
    font-family: Arial;
}

//setup for the flex properties that the ul should have
@mixin ulSettings() {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    list-style-type: none;
}