$backgroundColor: rgb(113, 113, 113);
$header-background-color: rgb(169, 226, 198);

$kingCrimsonCover: "./../images/king-crimson.jpg";
$sigurRosCover: "./../images/sigur-ros.jpg";
$fleetwoodMacCover: "./../images/fleetwood-mac.jpg";
$godspeedYouCover: "./../images/godspeed-you.jpg";
$joyDivisionCover: "./../images/joy-division.jpg";
$newOrderCover: "./../images/new-order.jpg";
$theMicrophonesCover: "./../images/the-microphones.jpg";
$talkingHeadsCover: "./../images/talking-heads.jpg";
$theAntlersCover: "./../images/the-antlers.png";
$aphexTwinCover: "./../images/aphex-twin.png";
$radioheadCover: "./../images/radiohead.jpg";
$madvillainCover: "./../images/madvillain.png";